<!--
#Twitter: Brian Wang (Donald Bi)
#SoftDev
#K20 -- REST API
#2022-11-21
#time spent: .7 hr

 -->

 <!DOCTYPE html>


 <html>
     <head>
         <title> HEWO FROM SPACE CAN U HEAR MEEEE HEWWOOO HEWWOO??? </title>
     </head>
 
     <body>
          <h2>
            #Twitter: Brian Wang (Donald Bi)<br>
            #SoftDev<br>
            #K20 -- REST API<br>
            #2022-11-21<br>
            #time spent: .7 hr<br>
          </h2>
          <h3>yo yo what up look at all this space</h3>
          <img src={{url}} alt="stop mousing over me">
          <b>{{txt}}</b>
     </body>
 